<section class="container">
  <h1 class="large text-primary">Sign In</h1>
  <p class="lead"><i class="fas fa-user"></i> Sign into Your Account</p>
  @if (loginError) {
  <div class="alert alert-danger">{{ loginError }}</div>
  }
  <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <div class="form-group">
      <input type="email" placeholder="Email Address" formControlName="email" />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div class="alert alert-danger">Please enter a valid email address</div>
      }
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      @if (loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched) {
      <div class="alert alert-danger">
        Password must be at least 6 characters
      </div>
      }
    </div>
    <input
      type="submit"
      class="btn btn-primary"
      value="Login"
      [disabled]="!loginForm.valid"
    />
  </form>
  <p class="my-1">
    Don't have an account? <a routerLink="/auth/register">Sign Up</a>
  </p>
</section>
